/* .minus-button{
background-color:  rgb(244, 70, 70) !important;
border: none;
width: 35px;
}
.minus-button:hover{
    background-color:red !important;
}
.plus-button{
    background-color: blue;
} */




